* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  scroll-behavior: smooth;
  background: #000;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 90%;
  height: 88px;
  background-color: #000;
  position: fixed;
}
.header .header__container {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
@media (max-width: 768px) {
  .header .header__container {
    justify-content: center;
    gap: 130px;
  }
}
.header .header__container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__container .logo .logo__link {
  color: #fff;
  width: 78.43px;
  height: 24px;
  top: 32px;
  left: 72px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.header .header__container nav {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .header__container nav .burger__container {
  display: none;
  width: 130px;
  z-index: 100;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
@media (max-width: 600px) {
  .header .header__container nav .burger__container {
    display: flex;
  }
}
.header .header__container nav .burger__container .burger_menu {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  transition: 1s;
  display: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .header .header__container nav .burger__container .burger_menu {
    display: flex;
  }
}
.header .header__container nav .burger__container .burger_menu .menu_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.header .header__container nav .burger__container .burger_main {
  width: 130px;
  height: 200px;
  background-color: #000;
  border-radius: 0 0 10px 10px;
  padding-bottom: 9px;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header .header__container nav .burger__container .burger_main .burger_list {
  width: 100%;
  height: 60px;
  display: flex;
  transition: 1s;
  justify-content: center;
  align-items: center;
  color: grey;
  border-bottom: 1px solid grey;
}
.header .header__container nav .burger__container .burger_main .burger_list .burger_link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header .header__container nav .burger__container .burger_main .burger_list:hover {
  border: none;
  color: red;
  border-bottom: 1px solid red;
  transition: 1s;
}
.header .header__container nav .burger__container .burger_menu:hover {
  background: red;
  transition: 1s;
}
.header .header__container nav .menu {
  display: flex;
  gap: 100px;
  padding: 30px;
}
@media (max-width: 600px) {
  .header .header__container nav .menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .header__container nav .menu {
    gap: 10px;
  }
}
.header .header__container nav .menu .menu_link {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  transition: 1s;
}
.header .header__container nav .menu .menu_link:hover {
  color: #5221e6;
  transition: 1s;
}
.header .header__container .header_btn {
  width: 100px;
  height: 88px;
  background: #5221e6;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold-;
  line-height: 24px;
  text-align: center;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .header .header__container .header_btn {
    display: none;
  }
}
.header .header__container .header_btn .header_btn > a {
  width: 100%;
  height: 100%;
  color: #fff;
}
.header .header__container .header_btn:hover {
  background-color: #fff;
  color: #5221e6;
  transition: 0.5s;
  font-size: 18px;
}

.section1 {
  background-color: #181823;
  width: 100%;
  height: 914px;
}
@media (max-width: 768px) {
  .section1 {
    height: 714px;
  }
}
@media (max-width: 510px) {
  .section1 {
    height: auto;
  }
}
@media (max-width: 960px) {
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section1 .section1__container {
  width: 100%;
  height: 100vh;
  gap: 50px;
  display: flex;
  align-items: center;
  padding-top: 150px;
  justify-content: center;
}
@media (max-width: 960px) {
  .section1 .section1__container {
    flex-direction: column;
  }
}
.section1 .section1__container .section1__image {
  width: 450px;
  height: 450px;
  padding-left: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 960px) {
  .section1 .section1__container .section1__image {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 482px) {
  .section1 .section1__container .section1__image {
    width: auto;
    height: auto;
  }
}
.section1 .section1__container .section1_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .section1__container .section1_right {
  width: auto;
  padding-right: 100px;
}
@media (max-width: 960px) {
  .section1 .section1__container .section1_right {
    padding-left: 100px;
  }
}
.section1 .section1__container .section1_right .section1_right_title {
  text-align: center;
  font-size: 77px;
  margin-bottom: 10px;
  font-weight: 900;
  color: #fff;
  line-height: 93.84px;
}
@media (max-width: 806px) {
  .section1 .section1__container .section1_right .section1_right_title {
    line-height: normal;
    font-size: 30px;
  }
}
@media (max-width: 960px) {
  .section1 .section1__container .section1_right .section1_right_title {
    padding-left: 30px;
    line-height: normal;
    font-size: 30px;
  }
}
.section1 .section1__container .section1_right .section1_right_text {
  color: #fff;
  text-align: center;
}
@media (max-width: 510px) {
  .section1 .section1__container .section1_right .section1_right_text {
    display: none;
  }
}

.section2 {
  width: 100%;
  height: auto;
  background-color: #000;
}
.section2 .section2__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 156px;
  gap: 200px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media (max-width: 768px) {
  .section2 .section2__container {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section2 .section2__container {
    align-items: center;
  }
}
.section2 .section2__container .section2_title1 {
  width: 158px;
  height: 24px;
  color: #8491a0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 700px) {
  .section2 .section2__container .section2_title1 {
    text-align: center;
  }
}
@media (max-width: 412px) {
  .section2 .section2__container .section2_title1 {
    font-size: 20px;
    padding: 20px;
  }
}
@media (max-width: 638px) {
  .section2 .section2__container .section2_title1 {
    display: none;
  }
}
.section2 .section2__container .section2_title2 {
  width: 690px;
  height: 132px;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  line-height: 66.17px;
}
@media (max-width: 768px) {
  .section2 .section2__container .section2_title2 {
    font-size: 45px;
    line-height: normal;
  }
}
@media (max-width: 700px) {
  .section2 .section2__container .section2_title2 {
    text-align: center;
  }
}
@media (max-width: 723px) {
  .section2 .section2__container .section2_title2 {
    font-size: 30px;
    width: 300px;
    margin: 10px;
  }
}
.section2 .section2__container .section2_cards {
  display: flex;
  gap: 70px;
}
@media (max-width: 768px) {
  .section2 .section2__container .section2_cards {
    flex-direction: column;
  }
}
.section2 .section2__container .section2_cards .section2_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section2 .section2__container .section2_cards .section2_card .section2_card_number {
  width: 126px;
  height: 141px;
  color: #8491a0;
  font-size: 117px;
  font-weight: 400;
  line-height: 140.77px;
}
.section2 .section2__container .section2_cards .section2_card .section2_platform1 {
  color: #3cc74e;
}
.section2 .section2__container .section2_cards .section2_card .section2_platform2 {
  color: #609bff;
}
.section2 .section2__container .section2_cards .section2_card .section2_platform3 {
  color: #e95d90;
}
.section2 .section2__container .section2_cards .section2_card .card_text {
  color: #8491a0;
}

.section3 {
  width: 100%;
  height: 664px;
}
.section3 .section3__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 50px;
}
@media (max-width: 472px) {
  .section3 .section3__container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .section3 .section3__container {
    justify-content: center;
  }
}
.section3 .section3__container .section3_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 .section3__container .section3_right > img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .section3 .section3__container .section3_right > img {
    width: 275px;
    height: 500px;
  }
}
@media (max-width: 472px) {
  .section3 .section3__container .section3_right > img {
    width: 500px;
    height: 200px;
  }
}
.section3 .section3__container .section3_left {
  display: flex;
  width: 50%;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 768px) {
  .section3 .section3__container .section3_left {
    padding-left: 40px;
  }
}
@media (max-width: 412px) {
  .section3 .section3__container .section3_left {
    padding-right: 50px;
    width: 100%;
  }
}
.section3 .section3__container .section3_left > h1 {
  width: 529px;
  height: 66px;
  font-size: 55px;
  font-weight: 700;
  line-height: 66.17px;
  text-align: left;
}
@media (max-width: 768px) {
  .section3 .section3__container .section3_left > h1 {
    width: 300px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .section3 .section3__container .section3_left > h1 {
    line-height: normal;
    font-size: 30px;
  }
}
.section3 .section3__container .section3_left > p {
  width: 576px;
  height: 108px;
  color: #5b6876;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 768px) {
  .section3 .section3__container .section3_left > p {
    padding-right: 20px;
    width: 400px;
  }
}
@media (max-width: 472px) {
  .section3 .section3__container .section3_left > p {
    width: 300px;
    height: auto;
  }
}
.section3 .section3__container .section3_left > a {
  width: 116px;
  height: 24px;
  color: #181823;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.section4 {
  width: 100%;
  display: flex;
  padding: 40px;
  background-color: #000;
  align-items: center;
  justify-content: center;
}
.section4 .section4__container {
  width: 100%;
  gap: 159px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .section4 .section4__container {
    flex-direction: column;
  }
}
.section4 .section4__container .section4_left {
  width: 516px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 50px;
}
.section4 .section4__container .section4_left .section4_left_title {
  color: #fff;
  font-size: 85px;
  font-weight: 400;
  line-height: 66.17px;
}
.section4 .section4__container .section4_left .section4_left_text {
  width: 368px;
  height: 135px;
  top: 90px;
  color: #8491a0;
  gap: 0px;
  opacity: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.section4 .section4__container .section4_right {
  width: 70%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .section4__container .section4_right .section4_cards {
  gap: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 412px) {
  .section4 .section4__container .section4_right .section4_cards {
    justify-content: center;
  }
}
.section4 .section4__container .section4_right .section4_cards .section4_card {
  width: 416px;
  height: 176px;
  top: 120px;
  left: 952px;
  gap: 0px;
  opacity: 0px;
}
@media (max-width: 900px) {
  .section4 .section4__container .section4_right .section4_cards .section4_card {
    text-align: center;
  }
}
.section4 .section4__container .section4_right .section4_cards .section4_card .section4_card_titke {
  width: 177px;
  height: 36px;
  top: 56px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
}
.section4 .section4__container .section4_right .section4_cards .section4_card .section4_card_text {
  color: #8491a0;
}
@media (max-width: 900px) {
  .section4 .section4__container .section4_right .section4_cards .section4_card .section4_card_text {
    width: 400px;
    font-size: 13px;
  }
}
@media (max-width: 900px) {
  .section4 .section4__container .section4_right .section4_cards .section4_card .section4_card_image {
    width: 50px;
    height: 50px;
  }
}

.section5 {
  width: 100%;
  height: 140px;
  background: #000;
}
.section5 .section5__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .section5 .section5__container {
    flex-wrap: wrap;
    padding-bottom: 1050px;
  }
}

.section6 {
  width: 100%;
  height: 270vh;
  background: #000;
}
@media (max-width: 300px) {
  .section6 {
    display: none;
  }
}
.section6 .section6__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  gap: 40px;
}
@media (max-width: 638px) {
  .section6 .section6__container {
    padding-top: 300px;
  }
}
.section6 .section6__container .section6_left {
  width: 50%;
  padding: 30px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .section6 .section6__container .section6_left {
    display: none;
  }
}
.section6 .section6__container .section6_left .section6_left_title {
  margin-top: 0;
  margin-bottom: 270px;
  width: 70%;
  height: 700px;
}
.section6 .section6__container .section6_left .section6_left_title > h3 {
  font-family: Sen;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
.section6 .section6__container .section6_left .section6_left_title > h1 {
  font-size: 55px;
  color: #fff;
  font-weight: 700;
  line-height: 66.17px;
  text-align: left;
}
@media (max-width: 768px) {
  .section6 .section6__container .section6_left .section6_left_title > h1 {
    width: 300px;
  }
}
.section6 .section6__container .section6_left .section6_left_cards {
  display: flex;
  align-items: center;
  margin-top: 270px;
  flex-direction: column;
  position: absolute;
  justify-content: center;
}
@media (max-width: 472px) {
  .section6 .section6__container .section6_left .section6_left_cards {
    padding-left: 100px;
  }
}
.section6 .section6__container .section6_left .section6_left_cards .card {
  padding: 30px;
  width: 436px;
  height: 530px;
  margin: 10px;
}
@media (max-width: 900px) {
  .section6 .section6__container .section6_left .section6_left_cards .card {
    width: 150px;
    padding: 0;
  }
}
.section6 .section6__container .section6_left .section6_left_cards .card .section6_card_img {
  width: 436px;
  height: 350px;
  padding-bottom: 0;
}
.section6 .section6__container .section6_left .section6_left_cards .card .card_content {
  width: 436px;
  background: #181823;
}
.section6 .section6__container .section6_left .section6_left_cards .card .card_content .section6_card_title {
  color: #fff;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.section6 .section6__container .section6_left .section6_left_cards .card .card_content .section6_card_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491a0;
  padding: 15px;
}
.section6 .section6__container .section6_right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.section6 .section6__container .section6_right .card {
  padding: 30px;
  width: 436px;
  height: 530px;
}
@media (max-width: 412px) {
  .section6 .section6__container .section6_right .card {
    width: 40px;
  }
}
.section6 .section6__container .section6_right .card .section6_card_img {
  width: 436px;
  height: 350px;
  padding-bottom: 0;
}
@media (max-width: 412px) {
  .section6 .section6__container .section6_right .card .section6_card_img {
    width: 340px;
  }
}
.section6 .section6__container .section6_right .card .card_content {
  width: 436px;
  background: #181823;
}
@media (max-width: 412px) {
  .section6 .section6__container .section6_right .card .card_content {
    width: 340px;
  }
}
.section6 .section6__container .section6_right .card .card_content .section6_card_title {
  color: #fff;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.section6 .section6__container .section6_right .card .card_content .section6_card_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491a0;
  padding: 15px;
}
.section6 .section6__container .section6_right .section6_button .section6_btn {
  width: 250px;
  height: 60px;
  border: none;
  cursor: pointer;
  background: #000;
  border: none;
  margin: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  border: 1px solid #5221e6;
  transition: 1.3s;
}
.section6 .section6__container .section6_right .section6_button .section6_btn:hover {
  border: none;
  border: 1px solid red;
  color: red;
  transition: 1.3s;
}

.section7 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section7 .section7__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 472px) {
  .section7 .section7__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
.section7 .section7__container .section7_left {
  width: 60%;
  height: 100%;
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.section7 .section7__container .section7_left .section7_left_title {
  font-size: 80px;
  font-weight: 700;
  line-height: 66.17px;
}
@media (max-width: 412px) {
  .section7 .section7__container .section7_left .section7_left_title {
    font-size: 40px;
    padding-left: 50px;
  }
}
.section7 .section7__container .section7_left .section7_left_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 412px) {
  .section7 .section7__container .section7_left .section7_left_text {
    text-align: center;
    width: 300px;
  }
}
.section7 .section7__container .section7_left .section7_link {
  text-decoration: underline;
  color: #000;
}
.section7 .section7__container .section7_right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 412px) {
  .section7 .section7__container .section7_right {
    width: 100%;
  }
}
.section7 .section7__container .section7_right > img {
  height: 600px;
  width: 263px;
}
@media (max-width: 472px) {
  .section7 .section7__container .section7_right > img {
    width: 400px;
    height: 300px;
  }
}

.section8 {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section8 .section8__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 150px;
}
@media (max-width: 900px) {
  .section8 .section8__container {
    overflow: hidden;
    padding: 0;
  }
}
.section8 .section8__container .section8_img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .section8 .section8__container .section8_img {
    width: 100%;
    height: 300px;
    padding-left: 10px;
  }
}
.section8 .section8__container .section8_title {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  line-height: 66.17px;
  text-align: left;
}
@media (max-width: 472px) {
  .section8 .section8__container .section8_title {
    text-align: center;
  }
}
.section8 .section8__container .section8_text {
  color: #8491a0;
  width: 636px;
  height: 54px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 900px) {
  .section8 .section8__container .section8_text {
    width: 400px;
    padding-left: 10px;
    text-align: center;
    padding-left: 20px;
  }
}
.section8 .section8__container .section8_link {
  text-decoration: underline;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
@media (max-width: 472px) {
  .section8 .section8__container .section8_link {
    text-align: center;
  }
}

.section9 {
  width: 100%;
  background: #000;
}
.section9 .section9__container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
@media (max-width: 1024px) {
  .section9 .section9__container {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .section9 .section9__container {
    flex-wrap: wrap;
  }
}
.section9 .section9__container .section9_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section9 .section9__container .section9_right .section9_cards {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 100px;
}
@media (max-width: 900px) {
  .section9 .section9__container .section9_right .section9_cards {
    padding: 0;
  }
}
.section9 .section9__container .section9_right .section9_cards .section9_card {
  width: 636px;
  height: 660px;
  gap: 50px;
  border: 1px solid #5b6876;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 900px) {
  .section9 .section9__container .section9_right .section9_cards .section9_card {
    width: 250px;
    height: auto;
  }
}
.section9 .section9__container .section9_right .section9_cards .section9_card .section9_card_img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section9 .section9__container .section9_right .section9_cards .section9_card .section9_card_content {
  gap: 10px;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.section9 .section9__container .section9_right .section9_cards .section9_card .section9_card_content .section9_title {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.88px;
  color: #fff;
}
.section9 .section9__container .section9_right .section9_cards .section9_card .section9_card_content .section9_text {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #8491a0;
  text-align: center;
}
.section9 .section9__container .section9_left {
  width: 50%;
}
.section9 .section9__container .section9_left .section9_title {
  width: 588px;
  height: 132px;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  line-height: 66.17px;
  text-align: left;
}
@media (max-width: 900px) {
  .section9 .section9__container .section9_left .section9_title {
    width: 200px;
    font-size: 35px;
    line-height: normal;
  }
}
.section9 .section9__container .section9_left .section9_text {
  width: 588px;
  margin: 50px;
  height: 54px;
  color: #8491a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 900px) {
  .section9 .section9__container .section9_left .section9_text {
    width: 200px;
    font-size: 15px;
    line-height: normal;
  }
}
.section9 .section9__container .section9_left .section9_link {
  text-decoration: underline;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}

.section10 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  background: #000;
}
.section10 .section10__container {
  display: flex;
  flex-direction: column;
}
.section10 .section10__container .section10_top {
  padding: 30px;
}
.section10 .section10__container .section10_top .section10_title {
  font-family: Sen;
  font-size: 75px;
  color: #fff;
  font-weight: 700;
  line-height: 66.17px;
  text-align: left;
}
@media (max-width: 900px) {
  .section10 .section10__container .section10_top .section10_title {
    font-size: 40px;
    text-align: center;
  }
}
.section10 .section10__container .section10_top .section10_text {
  width: 588px;
  padding: 30px 0;
  font-size: 18px;
  font-weight: 400;
  color: #8491a0;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 900px) {
  .section10 .section10__container .section10_top .section10_text {
    width: 200px;
    font-size: 20px;
    text-align: center;
  }
}
.section10 .section10__container .section10_top .buttons {
  padding: 20px;
}
@media (max-width: 900px) {
  .section10 .section10__container .section10_top .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section10 .section10__container .section10_top .buttons .btn {
  margin: 10px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  background: #000;
  border: none;
  color: #fff;
  border: 1px solid #5221e6;
  transition: 1.5s;
}
.section10 .section10__container .section10_top .buttons .btn:hover {
  background-color: #fff;
  color: #5221e6;
  transition: 0.5s;
  font-size: 18px;
  transition: 1.5s;
}
.section10 .section10__container .section10_bottom {
  gap: 20px;
}
@media (max-width: 900px) {
  .section10 .section10__container .section10_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .section10 .section10__container .section10_bottom .section20_img {
    width: 300px;
    height: 300px;
  }
}

.section11 {
  width: 100%;
  background: #000;
}
.section11 .section11__container {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 150px;
}
@media (max-width: 900px) {
  .section11 .section11__container {
    flex-direction: column;
    padding: 0;
  }
}
.section11 .section11__container .section11_left {
  gap: 30px;
}
.section11 .section11__container .section11_left .section11_titel {
  color: #fff;
  padding-bottom: 50px;
  font-size: 75px;
  font-weight: 700;
  line-height: 66.17px;
  text-align: left;
}
@media (max-width: 900px) {
  .section11 .section11__container .section11_left .section11_titel {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
  }
}
.section11 .section11__container .section11_left .section11_text {
  width: 526px;
  color: #8491a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 900px) {
  .section11 .section11__container .section11_left .section11_text {
    width: 300px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }
}
.section11 .section11__container .sestion11_right {
  width: 50%;
}
@media (max-width: 900px) {
  .section11 .section11__container .sestion11_right {
    padding: 10px;
  }
}
.section11 .section11__container .sestion11_right .form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section11 .section11__container .sestion11_right .form .inp {
  width: 290px;
  height: 50px;
  padding: 15px;
  border: none;
  background: #181823;
  color: #fff;
}
.section11 .section11__container .sestion11_right .form .textarea {
  width: 290px;
  border: none;
  height: 150px;
  padding: 15px;
  color: #fff;
  background: #181823;
}
.section11 .section11__container .sestion11_right .form .btn {
  width: 290px;
  height: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #5221e6;
  transition: 1.5s;
}
.section11 .section11__container .sestion11_right .form .btn:hover {
  background: #000;
  color: red;
  border: none;
  border: 1px solid red;
  transition: 1.5s;
}

.footer {
  width: 100%;
  background-color: #181823;
}
.footer .footer__container {
  padding: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .footer .footer__container {
    justify-content: center;
  }
}
.footer .footer__container .footer_left {
  padding: 20px;
}
.footer .footer__container .footer_left .footer_logo {
  font-size: 70px;
  font-weight: 500;
  padding-bottom: 20px;
  font-family: Sen;
}
@media (max-width: 900px) {
  .footer .footer__container .footer_left .footer_logo {
    font-size: 20px;
  }
}
.footer .footer__container .footer_left .footer_icons {
  padding: 30px;
  gap: 10px;
}
.footer .footer__container .footer_left .footer_icons .icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.footer .footer__container .footer_right {
  padding: 20px;
}
@media (max-width: 768px) {
  .footer .footer__container .footer_right {
    display: none;
  }
}
.footer .footer__container .footer_right .footer_nav {
  padding: 10px;
}
.footer .footer__container .footer_right .footer_nav .footer_menu {
  display: flex;
  gap: 150px;
}
@media (max-width: 768px) {
  .footer .footer__container .footer_right .footer_nav .footer_menu {
    gap: 30px;
  }
}
.footer .footer__container .footer_right .footer_nav .footer_menu .footer_link {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */